/*
* @Author: lenovo
* @Date:   2017-08-17 16:01:24
* @Last Modified by:   lenovo
* @Last Modified time: 2017-11-18 11:44:39
*/
*{
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: : "微软雅黑","宋体",sans-serif;
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
a:hover{
	-webkit-tap-highlight-color: transparent;
}
body{
	background: #ffffff;
}